*{padding: 0px;margin: 0px;}
.clearfix{
	background: #F2F2F2 !important;
	border-bottom: 1px solid #aaaaaa;
	height: 26px !important;
	overflow: visible !important;
}
.head-tool ul li{
	display: inline-block;
	list-style: none;
	padding-right: 3px;
}
.spe{position: relative;}

.head-tool span{color:#999999 !important;}
.head-tool a{color:#999999 !important;}

.head-pho{position:absolute;width: 180px;height: 180px;
z-index: 1000;padding: 5px;border: 1px solid #F5F5F5;box-shadow: 0px 0px 5px #AAA;
background: white;top:20px;left: -55px;display: none;}
.head-pho img{width: 175px;height: 175px;}
.res{color: #D50000;}
.s1{padding-left: 5px; height: 22px !important;}
.nav_menu{
	background: #FFFFFF;
	border-bottom: 2px solid #D50000;
}
.channel ul li a{
	color: #434343 !important;
}
.goodsname{
	background: #D50000;
	color: #FFFFFF !important;
}
.a_channel_hover{
	background: #FFFFFF !important;
	
}
.hotTab a.odd{color: #ff5728 !important;}
#high{
	color: #D50000 !important;
}
.channel ul li a:hover{
	color: #D50000 !important;
	background: #FFFFFF !important;
}
.search_input{
	background: none;
	border: 2px solid #D50000;
}
.searchBoxTwo{
	padding: 5px 5px;
	width: 353px;
}
.searchTijiao{
	background: #D50000 !important;
	box-shadow: none;
}
.searchTijiao:hover{
	box-shadow: none;
	background: #D50000 !important;
}
.search{
	margin: 20px 0px 0px 55px;
}
.new{
	position: relative;
 	right: 100px;
 	top:5px
}
.new-box{
	width: 80px;
	height: 90px;
	padding:5px;
	border: 1px solid #dcdcdc;
	background: #FFFFFF;
	position: relative;
	float:left;
	margin-right: 50px;
	
}
.new-box p{
	font-family: "宋体";
	font-size: 12px;
	margin-bottom: 3px;
	text-align: center;
}
.new-img{
	position: relative;
	left: 4px;
	width: 80px;
	height: 80px;
}
.new-img img{
	width: 70px;
	height: 70px;
	display: block;
}
.btn-new{
	height: 18px;
	width: 18px;
	font-size: 10px;
	line-height: 18px;
	color: #e7e7e7;
	position: relative;
	border: 1px solid #dcdcdc;
	top:-108px;
	left:85px;
	background: #FFFFFF;
	cursor: pointer;
}
.hotTab a:hover{
	text-decoration: underline;
}

.area-sub{
	border-top:2px solid #d32f2f;
	margin-top: 30px;
}
.left{
	position: relative;
	top:0px;
}
.mod-goods-list .mod-item{
	border: none;
}
.hot-tag{
	width:190px;
}
.left-fa{
	position: relative;
}
.left-clo{
  width: 190px;
  height: 90px;
  background: url(../img/left1.png);
}
.left-clo-img1,.left-clo-img2{
	display: inline-block;
	position: relative;
}
.left-clo-img1{
	left: 50px;
	top:5px
}
.left-clo-img2{
	left:60px;
	}
.lou{
	color: #FFFFFF;
	font-size: 30px;
	position: relative;
	left: 50px;
	top:15px
}
.tx{
	color: #FFFFFF;
	position: relative;
	left: 23px;
	top:25px;
	font-size: 14px;
	font-family: "微软雅黑";
}
.wrapper,.area-sub,.hot-box{
	width: 980px !important;
}
.mod-goods-wrap,.tab-bd{
	width: 780px;
	float:left;
}
.mod-goods-list .mod-item{
	width: 180px;
}
.left-pho{
	position: relative;
	top:-12px;
	
}
.mod-goods-wrap{
	position: relative;
	margin-left: 10px;
	top:-15px;
}
.mod-item{
	position: relative;
	margin-right: 15px;
	margin-bottom: 30px !important;
}
.price{
	display: block;
	position: relative;
	top: 15px;
	margin: 30px 0px 23px 0px;
	text-align: left !important;
	font-size: 14px !important;
}
.name{
	display: block;
	position: relative;
	text-align: left !important;
	margin-bottom: 20px; 
}
.area-sub{
	height: 580px;
	position: relative;
	
}
.i1{font-size:50px !important;color: #E53E41;}
.icon-box{width: 400px;float: left;text-align: center;border-bottom: 1px solid #EAEAEA;padding-bottom: 5px;}
.icon-txt{position: relative;top:-10px;}
.ic{color: #d32f2f;;font-size: 14px;font-weight: 700;text-align: center;font-family: "微软雅黑";}
.iconwrap{background: #F5F5F5;margin-bottom: 1px;}
.links-wrap{background: #F5F5F5;}
.guide-links .l-title{color: #FFFFFF;font-weight: 700;}
.mainFooter{color: #bfbfbf !important;}

.l-list ul li a{color: #FFFFFF !important;}
.l-list ul li a:hover{color: #FFFFFF!important;text-decoration: underline;}
.l-list-l{clear: both;
width: 100%;
height: 30px;}
.l-list-l ul{display: block;position: relative;left:162px;color: #8c8c8c;}
.l-list-l ul li{list-style: none;display: inline-block;margin-right: 10px;padding-right: 10px;border-right: 1px solid #8C8C8C;height: 14px;line-height: 14px;;}
.list-li{font-weight: 700;border-right: none !important;}
.l-list-l ul li a{color: #8c8c8c;font-size: 14px;font-family: "微软雅黑";}
.l-list-l ul li a:hover{color: #FFFFFF!important;text-decoration: underline;}
.pholis{float:right;position:relative;right: 50px;}
.img-bor img{display: block;width: 100px;height: 100px;padding: 1px;background: #FFF;position: relative;left: 5px;top:-5px;}
.log1{float:left;position:relative;top:-740px;left: 436px;}
.log2{float:left;position:relative;top:-740px;left: 872px;}
.massage-log{width: 489px;float:left;text-align: center;margin: -40px 0px 35px 0px;font-size: 14px;color: #333333;}
.clear{clear: both;}

.footer-infor{
	height: 200px;
	background: #FFFFFF;
}
.guide-links{
	height: 200px !important;
    background: #191919 !important;
	z-index: 9999;
	}
.footer-wrapper{
		width: 100%;
		position: relative;
		top:0px;
	}
.wrap-inner{
	width: 1200px;
	margin: 0px auto;
}	
.iconwrap{
	border-top: 1px solid #EEEEEE;
	background: #FFFFFF;
}
.links-wrap{
	background: #191919 !important;
}
.icon-box span img{
	display: block;
	margin: 20px auto;
}
.l-title{
	text-align: left !important;
	
}
.l-list ul li{
	text-align: left !important;
}
.links-wrap-inner{
	width: 900px;
	margin: 0px auto;
	
}

/***/
.list-box{
	position: absolute;
	left: 18px;
	z-index: 89;
}
	.list-box ul li{
				display: block;
				list-style: none;
				height: 30px;
				line-height: 30px;
				
				background: #000000;
				opacity: 0.8;
				width: 200px;
				
			}
			.list-box ul li a{
				display: block;
				text-decoration: none;
				color: #FFFFFF;
				width: 200px;
				position: relative;
				font-size: 14px;
				font-family: "微软雅黑";
			}
			.list-box ul li a:hover{
				background: #ef5350;
			}
			.li-txt{
				display: inline-block;
				position: relative;
				left: 40px;
			}
			.li-img{
				width: 10px;
				height: 10px;
				display: inline-block;
				position: relative;
				float:right;
				right: 10px;
			}
/***首页隐藏头部**/
*{padding: 0px;margin: 0px;}
			.head-top{
				height: 55px;
				width: 100%;
				display: none;
			}
			.touming{
				height: 55px;
				width: 100%;
				background: #000000;
				opacity: 0.7;
				position: absolute;
				z-index: 1;
			}
			.head-container{
				position: relative;
				z-index: 2;
			}
			.head-top span{
				position: relative;
				float:left;
				top:10px;
				left: 50px;
			}
			.top-input{
				float: left;
				position: relative;
				left: 250px;
				top:8px;
			}
			.top-txt{
				height: 35px;
				width: 400px;
				border: none;
				font-size: 16px;
				display: inline-block;
				background: transparent none repeat scroll 0px 0px
				opacity: 1;
			}
			.top-btn{
				height: 35px;
				width: 100px;
				margin-left: -6px;
				color: #FFFFFF;
				background: #d50000;
				border: #D50000;
				font-size: 18px;
				cursor: pointer;
				
				position: relative;
			}
			.top-right{
				position: relative;
				float:right;
				top:15px;
				right: 40px;
			}
			.top-right a{
				color: #FFFFFF;
				font-size: 14px;
				font-family: "宋体";
				text-decoration: none;
			}
			.show{
				position: absolute;
				top:0px;
				left: 0px;
				z-index: 999;
				position: fixed;
			}
/*文章页面**/	
.articleBox{
	
	background: none !important;
	box-shadow: none !important; 
}
.articleHead{
	background: #FFFFFF;
	border: none;
}
.head-title{
	width: 150px;
	font-size: 18px;
	font-family: "宋体";
	margin:5px auto;
	color: #1b1b1b !important;
	font-weight: 700;
}
.head-img{
	position: relative;
	float: left;
	right: 10px;
	top:-40px;
}
.head-time{
	position: relative;
	left: 150px;
	color: #1b1b1b !important;
	font-family: "宋体";
	font-size: 14px;
	
}
.articleContent {
    border-width: 2px !important;
    border-style: solid !important;
    border-color: #EFEFEF !important;
    padding: 20px 10px !important;
    font-size: 14px;
    font-family: "宋体";
 }
 .txt-box{
 	margin-bottom: 20px;
 }
 .zho{
 	color: #c62828 !important;
 	line-height: 200%;
 }
 .txt-box p{
 	padding-left: 20px; 
 	line-height: 200%;
 }
 .txt-fisrt{
 	line-height: 200%;
 }
 /**购物车**/

.check{
	position: relative;
	
	top:-40px;
	display: inline-block;
}
.shopping-img{
	width:80px;
	margin-right: 10px;
}
.shopping-message{
	width:200px;
	
}
.s-txt{
	padding-left: 10px;
}
.shopping-s{
	width:120px;
	
}
.table-bordered tr{
	
	border-bottom: 1px solid #b5b5b5;
}	
.table-bordered tr td{
	font-size: 12px;
	font-family: "宋体";
	text-align: left;
	display: inline-block;
	color: #434343;
	border-bottom: none !important;
	padding-top: 20px;
}
.tt{
	font-size: 14px !important;
}
#num{
	width: 60px !important;
	height: 20px !important;
}
.s-txt2{
	width: 180px !important;
	padding-right: 20px;
}
.pro-bar{
	margin: 20px auto;
	width: 500px !important;
	box-shadow: none !important;
}
.dialog-title{
	color:#c62828;
	font-size: 14px;
	font-family: "宋体";
	border-bottom: 2px solid #a0a0a0;
	margin-bottom: 10px;
	
}
.p1{
	position: relative;
	top:2px;
	width: 100px;
	border-bottom: 2px solid #c62828;
	text-indent: 1em;
	
}
.shopping-s a{
	text-decoration: none;
	color: #434343;
}
.shopping-s a:hover{
	text-decoration: underline;
}

.bottom-right p{
	display: inline-block;
	color: #898989;
	margin:0px 5px;
}

.dialog-bottom{
	position: relative;
	border-bottom: none !important;
	
}
.td-bottom-left span{
	display: inline-block;
	margin: 0px 5px;
}
.td-bottom {
	width: 750px;
	height: 40 !important;
	}
.dialog-bottom td a{
	color: #898989;
	text-decoration: none;
}
.bottom-right{
	float:right;
	position: relative;
}
.table-title{
	margin-bottom: 10px;
}
.table-title ul li{
	display: inline-block;
	list-style: none;
	color: #898989;
	font-size: 12px;
	font-family: "宋体";
}
.li-fist{
	padding-left: 10px;
}
.li-fist span{
	margin-left: 5px;
}
.dialog-contentBox{
	padding: 0px 10px !important;
}
.table-bordered td.td-bottom-left,.table-bordered td.td-bottom{
	height: 40px !important;
}
.shopping-btn{
	margin: 10px auto;
}
/***第二个shopping***/
.table-title p{
	font-size: 14px;
	font-family: "宋体";
	color:#1b1b1b;
	font-weight: 700;
}
.shop2-tr{
	border-bottom: 1px dashed #c9c9c9 !important;
	border-top: 1px dashed #c9c9c9 !important;
}
.buyerRemarks{
	box-shadow: none !important;
	border-radius: 3px;
	border:1px solid #c9c9c9 !important;
	height: 45px;
}
.showTotalMoney{
	position: relative;
	float:right;
	top:35px;
}
.dialog-title{
	color:#1b1b1b;
	 
}
.hh{
	border:none !important;}
 radio{
	
}
#submitOrder{
	float:right;
	position: relative;
}
.place-box{
	float:left;
	width: 195px;
	height: 85px;
	background: url(../img/border-fail.png);
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 20px 20px 10px 20px;
	cursor: pointer;
	
}
.selected{
	background: url(../img/border-success2.png) !important;
}
.selecting{
	background: url(../img/border-successing.png) !important;
}
.b2{
	margin-left: 160px;
	margin-right: 160px;
	background: url(../img/border-fail.png);
}
.place-box .txt1{
	font-size: 14px;
	font-family: "宋体";
}
#Place{
	position: relative;
	border-bottom: 1px solid #B5B5B5;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.place-title{
	font-size: 14px;
	font-family: "宋体";
	color: #1b1b1b;
	font-weight: 700;
	float:left;
}
.place-right{
	float:right;
	
	}
.place-right a{
	color:#0288d1;
	font-size: 14px;
	text-decoration: none;
}
.place-right a:hover{
	text-decoration:underline;
}
.clear{
	clear: both;
}
.placeshow a{
	color:#d52929;
}
.placeshow{
	position: relative;
	left: 930px;
}
.revise{
	color:#EF5350;
}
.revise:hover{
	color:#C97;
}
/**购物页面3**/
.p3 p{
	display: inline-block;
}
.payment-title{
	font-size: 14px;
	color: #1b1b1b;
	background: #eeeeee;
	height: 40px;
	line-height: 40px;
	position: relative;
	font-weight: 700;
	text-indent: 1em;
	top:-10px;
}
.payment-ul li {
	height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #c9c9c9;
}
.payment-ul li span{
	font-size: 14px;
	margin-right: 20px;
}
/***shopping4***/
.success-box{
	width: 500px;
	margin: 20px auto;
	position: relative;
}
.success-img{
	position: relative;
	left: 10px;
}
.success-right{
	position: relative;
	left: 200px;
	top:-150px;
}
.success-right p{
	color: #1b1b1b;
	font-family: "微软雅黑";
	font-size: 30px;
	width: 250px;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid #c9c9c9;
	margin: 10px;
}
.surebtn{
	position: relative;
	left: 50px;
	display: inline-block;
    width: 170px !important;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background: #ee605d;
	color: #FFFFFF;
	font-size: 24px;
	font-family: "微软雅黑";
	border: 1px solid #ee605d;
	border-radius: 5px;
}
